<div class="row">
  <div class="col s12">

    <h3>Working examples</h3>

    <h5>Handling files</h5>
  
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="file-field input-field col s8">
          <div class="btn">
            <span>File</span>
            <input type="file" accept="image/*" name="upload">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="images only">
          </div>
        </div>
        <div class="input-field col s4">
          <input class="btn" type="submit" value="Send">
        </div>
      </div>
    </form>

    <h5>Path parameters</h5>

    <div class="row">
      <div class="input-field col s8">
        <input type="text" placeholder="[a-zA-Z0-9]+" id="user-name">
      </div>
      <div class="input-field col s4">
        <input class="btn" type="submit" value="Hello" onclick="location.href = '/users/' + document.getElementById('user-name').value + '/hello'">
      </div>
    </div>
  </div>
</div>
