package main

import (
	"net/http"

	"github.com/otiai10/marmoset"
)

func main() {

	r := marmoset.NewRouter()

	marmoset.LoadViews("./")
	// use "*.html" in "./", can be accessed by file name

	r.StaticRelative("/public", "./")
	// use "./" for static with request "/public"

	r.GET("/", func(w http.ResponseWriter, req *http.Request) {
		marmoset.Render(w).HTML("index", nil)
	})

	// path parameters
	r.GET("/users/(?P&lt;name&gt;[a-zA-Z0-9]+)/hello", func(w http.ResponseWriter, req *http.Request) {
		marmoset.Render(w).HTML("hello", map[string]interface{}{
			"name": req.FormValue("name")
		})
	})

	// Rendering JSON
	r.GET("/api", func(w http.ResponseWriter, req *http.Request) {
		marmoset.Render(w).JSON(http.StatusOK, map[string]interface{}{
			"message": "Hello, this is pygmy marmoset API!",
		})
	})

	// Not Found
	r.NotFound(func(w http.ResponseWriter, req *http.Request) {
		marmoset.Render(w).HTML("notfound", nil)
	})

	http.ListenAndServe(":8080", r)
}
